/* Custom Styles */

/* Set a background image for the hero section */
#hero {
    background-image: url('images/20170120_101821.jpg');
    background-size: cover;
    background-position: center;
    color:yellow;
    font-style: normal;
    padding: 100px 0;
}

#about {
    /* background-image: url('images/car.jpg'); */
    background-color: skyblue;
    background-size: cover;
    background-position: center;
    font-style: normal;
    font-weight: bold;
    padding-bottom: 0%;
    padding-top: 0%;
}
#services{
    background-image: url('images/mine.jpeg');
    background-size: cover;
    background-position: center;
    font-style: normal;
    padding-top: 0%;
    padding-bottom: 20px;
}

#programs {
    background-image: url('images/mine.jpeg');
    padding :10px;
    
}



/* Style the About, Programs, and Contact sections */
section About{
    background-image: url('images/backrouuung.jpeg');
    background-size: cover;
    background-position: center;
    color:black;
    font-size: 20px;
    padding: 100px 0;
     
}

h1{
    font-size: 50px;
    font-weight: bolder;
}
h2{
    font-size: 50px;
    text-align: center;
    background-color:grey;
    color: white;
}
h5 {
    color:darkblue;
    font-weight: bolder;
    font-size: 25px;
} 
h6 {
    font-weight: bolder;
    font-size: 20px;
}
h3{
    font-style: italic;
    color: white;
    font-weight: bolder;
    
}
li {
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
    color: skyblue;

}
button{
    background-color:grey;
    border-radius: 10px;
    padding: 5px;
    border-spacing: 50px;

}
p{
    font-size: 20px;
    padding: 50px;
    font-weight:light;
    font-style: italic;
    color:black;
}

footer {
    background-color: #f8f9fa;
}