/* Custom Styles */

/* Set a background image for the hero section */
#hero {
    background-image: url('images/Screenshot\ from\ 2024-02-06\ 14-09-02.png');
    background-size: cover;
    background-color: skyblue;
    background-position: center;
    background-repeat: repeat;
    color:yellow;
    font-style: italic;
    /* padding: 100px 0; */
    filter: brightness(110%);
 
}
.btn {
    background-color: skyblue;
    color: black;
}
.nav-link {
    font-size: 25px;
   
}

.card {
   background-color:skyblue; 
   border-radius: 20px;
   padding: 0px;
   width: 550px;
   height: 450px;
}
.card-body {
    width: 500px;
    height: 500px;
}




#about {
    /* background-image: url('images/car.jpg'); */
    background-color: skyblue;
    background-size: cover;
    background-position: center;
    font-style: normal;
    font-weight: bold;
    padding-bottom: 0%;
    padding-top: 0%;
}
#services{
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-style: normal;
    font-size: 30px;
    padding: 100px;
    padding-bottom: 10%;
    padding-top: 0%;
    filter: brightness(150%);
}

#programs {
    background-image: url('images/mine.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

    padding :10px;
    
}
#contact{
    
    background-color: skyblue;
    background-image: url('images/20170120_101821.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 30px;
    font-weight: bolder;
    
}




/* Style the About, Programs, and Contact sections */
section About{
    background-image: url('images/backrouuung.jpeg');
    background-size: contain;
    background-position: center;
    color:black;
    font-size: 20px;
    padding: 100px 0;
     
}

h1{
    font-size: 50px;
    font-weight: bolder;
}
h2{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    background-color:darkgreen;
    color:black;
}
h5 {
    color:skyblue;
    font-weight: bolder;
    font-size: 25px;
} 
h6 {
    font-weight: bolder;
    font-size: 20px;
}
h3{
    font-style: italic;
    color: white;
    font-weight: bolder;
    
}
ul {
    font-size: 25px;
    font-style: normal;
    font-weight: bolder;
    color:skyblue;
}
li {
    font-size: 20px;
    font-weight: bolder;
    color: black;
}
button{
    background-color:grey;
    border-radius: 10px;
    padding: 5px;
    border-spacing: 50px;

}
p{
    font-size: 25px;
    padding: 50px;
    font-weight:light;
    font-style: normal;
    color:black;
}

footer {
    background-color: #f8f9fa;
}
.btn btn-primary {
    background-color: blue;
}